.header {
  width: 100%;
  height: 100%;
  background-color: #465094;
  /* background-color: #287b7b; */
}

.navigate {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
}

.link {
  margin-right: 40px;
  padding: 10px 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(250, 250, 126);
  transition-property: color;
  transition-duration: 150ms;
  transition-timing-function: linear;
}


.link:hover {
  color: yellowgreen;
}